<html lang="en">

<head>
  <title style="color: brown">Responsive Login and Signup Form</title>
  <meta name="author" content="Zaur">
  <meta descryption content="Presentation of website">
  <meta name="keywords" content="technology, cyber security, software">
  <meta http-equiv="refresh" content="30">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="../stylesheets/register.css">
</head>

<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="https://images.unsplash.com/photo-1579762715118-a6f1d4b934f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=384&q=80" alt="">
        <div class="form-link">
        </div>
      </div>
      <div class="back">
        <img class="back-img" src="stock-photo-portrait-of-a-successful-business-man-sitting-at-the-cafe-in-front-of-a-laptop-1783984655.jpg" alt="">
        <div class="form-link">
          <span class="img-text-1">Complete miles of journey <br> with Zaur</span>
          <span class="img-text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <form action="/register" method="post">
      <div class="form-content">

        <div class="sign-form">
          <div class="title">Signup</div>
          <div class="input-groups">
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" class="input" placeholder="Enter your username" name="username" required>
            </div>
          </div>

          <div class="input-groups">
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="text" class="input" placeholder="Enter your pic" name="pic" required>
            </div>
          </div>

          <div class="input-groups">
            <div class="input-box">
              <i class="fa-solid fa-lock"></i>
              <input type="password" class="input" placeholder="Enter your password" name="password" required>
            </div>
          </div>

          <div class="input-groups">
            <div class="button input-box">
              <!--	<input type="submit" value="Submit">  -->
              <button>Submit</button>
            </div>
          </div>
          <div class="form-link signup-text">
            <span>Already have an account? <label class="link login-link" for="flip"><a style="color: rgb(128, 211, 128);" href="/login">Login now</a></label></span>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

</html>