* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#left {
  background-color: #121212;
}

.user {
  background-color: #242424;
}

#right{
  background-color: #202020;
}

.rightnav {
  background-color: #fff;
}


.user img {
  margin-left: 15px;
}

.user h1 {
  margin-left: 4px;
  font-size: 1.6rem;
}

.chat {
  cursor: pointer;
  margin-top: 1vh;
}

#input-text {
  height: 3.8rem;
  width: 100%;
  padding-left: 2vw;
  outline: none;
  color: black;
}

.msg {
  width: fit-content;
  padding: 0.4rem 0.5rem;
  font-size: 1.3rem;
}

.conversationArea {
  height: calc(100% - 8rem);
  overflow-y: auto;
}

.conversationArea::-webkit-scrollbar {
  display: none;
}

.userr{
  color: black;
}